@inherits LayoutComponentBase

<!-- Hero section -->
    <section id="infinite" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->
      <NavMenu />

      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            @Body
        </div>        
      </div>

    </section>


@*    <footer class="text-center small tm-footer">
          <p class="mb-0">
          Copyright &copy; 2020 Company Name 
          
          . <a rel="nofollow" href="https://www.tooplate.com" title="HTML templates">Designed by TOOPLATE</a></p>
        </footer>*@