@page "/employees"
@inject HttpClient http
@inject IConfiguration configuration
@inject NavigationManager navManager
@using CrudDemo.WebApp.Models

<PageTitle>Our Talents</PageTitle>

<h1 class="tm-hero-title">Our Talents</h1>

<p class="tm-hero-subtitle">We at Crud Life believe in our Talents.</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <div style="margin: 50px; text-align: left">
    <MudGrid>
        <MudGrid Spacing="2" Justify="Justify.Center">
            @foreach(var employee in employees)
            {
                <MudItem Style="height:300px">
                    <EmployeeCard employee="@employee" />
                </MudItem>   
            }
        </MudGrid>
    </MudGrid>
    </div>
}

@code 
{

    private EmployeeModel[]? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await http.GetFromJsonAsync<EmployeeModel[]>($"{@configuration["ApiBaseUrl"]}/Employee");
    }


}