@page "/"

<PageTitle>Index</PageTitle>

<h1 class="tm-hero-title">Create, Read, Update, Delete</h1>

<p class="tm-hero-subtitle">Life is too short. Start your CRUD life today.</p>

<SurveyPrompt Title="Are you ready start your CRUD life journey?" />
