@page "/project/{ProjectId}"
@inject IConfiguration configuration
@inject HttpClient http

@using CrudDemo.WebApp.Models

    <PageTitle>@Project?.Name</PageTitle>

@if (Project == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <h1 class="tm-hero-title">@Project.Name</h1>

    <p class="tm-hero-subtitle"></p>
    <p>@Project?.Description</p>

    @if (Project?.Employees?.Length > 0)
    {
        <h4 class="tm-hero-subtitle">Talents in this project:</h4>
        @foreach (var employee in Project.Employees)
        {
            <MudAvatar Image=@($"/img/avatar-{employee.EmployeeLastName}.jpg") Size="Size.Large"/> <MudText>@(employee.EmployeeFirstName +" "+ employee.EmployeeLastName)</MudText>
            <br />
        }

    }
}


@code {
    [Parameter]
    public string? ProjectId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Project = await this.http.GetFromJsonAsync<ProjectModel>($"{this.configuration["ApiBaseUrl"]}/Project/{ProjectId}");
    }

    public ProjectModel? Project { get; set; }
}
