@page "/projects"
@inject HttpClient http
@inject IConfiguration configuration
@inject NavigationManager navManager
@using CrudDemo.WebApp.Models

<PageTitle>Our Projects</PageTitle>

<h1 class="tm-hero-title">Our Projects</h1>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p class="tm-hero-subtitle">These are our awesome projects!</p>
    <MudCarousel ItemsSource="@projects" ShowArrows="true" ShowDelimiters="true" AutoCycle="true" Style="height:500px;">
        <ItemTemplate>
            <div class="d-flex flex-column flex-column justify-center" style="height:100%; padding:50px">
                <MudText Align="@Align.Center" Class="mx-auto">
                    <h2>@context.Name</h2>
                </MudText>                
                <MudText>
                    @context.Description
                </MudText>
                <br />
                <center><MudButton Color="Color.Primary" Class="ma-2" Variant="Variant.Filled" Style="width:200px" OnClick="args => goToProjectDetails(args, context.ProjectId)">Click for more...</MudButton></center>
                                
            </div>
        </ItemTemplate>
    </MudCarousel>
    <br >
    <MudButton Color="Color.Primary" Class="ma-2" Variant="Variant.Filled">Add a project</MudButton>                                
}



@code 
{

    private ProjectModel[]? projects;

    private Task goToProjectDetails(MouseEventArgs args, Guid projectId)
    {
        var page = $"project/{projectId}";
        navManager.NavigateTo(navManager.BaseUri + page);
        
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        projects = await http.GetFromJsonAsync<ProjectModel[]>($"{@configuration["ApiBaseUrl"]}/Project");
    }
}